@import "tailwindcss";
@import "tw-animate-css";
@import url(animation.css);
/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

@theme {
  --shadow-center: 0 0 12px -2px rgb(0 0 0 / 0.05);
  --animate-pulse-fast: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --font-family-repetition: var(--font-repetition), sans-serif;
  --font-family-barlow: var(--font-barlow), sans-serif;

  --color-main-pink: #ff6ee9;
  --color-main-violet: #6d2eff;
  --color-main-navy-blue: #066eff;
  --color-main-black: #1e1e1e;
  --color-main-white: #ffffff;
  --color-main-magenta: #b5009a;

  --color-grey-0: #ffffff;
  --color-grey-50: #f7f7f7;
  --color-grey-100: #ededed;
  --color-grey-200: #e0e0e0;
  --color-grey-300: #c8c8c8;
  --color-grey-400: #adadad;
  --color-grey-500: #999999;
  --color-grey-600: #888888;
  --color-grey-700: #7b7b7b;
  --color-grey-800: #676767;
  --color-grey-850: #1b1b1b;
  --color-grey-900: #545454;
  --color-grey-950: #363636;
  --color-grey-1000: #1e1e1e;

  --color-red-25: #ffbebe;
  --color-red-50: #fff1f1;
  --color-red-100: #ffdfdf;
  --color-red-200: #ffc5c5;
  --color-red-300: #ff9d9d;
  --color-red-400: #ff6464;
  --color-red-500: #ff2323;
  --color-red-600: #ed1515;
  --color-red-700: #c80d0d;
  --color-red-800: #a50f0f;
  --color-red-900: #881414;
  --color-red-950: #4b0404;

  --color-green-50: #eefdf2;
  --color-green-100: #d3f8df;
  --color-green-150: #ceefe8;
  --color-green-200: #abefc4;
  --color-green-300: #74e1a3;
  --color-green-325: #73fe33;
  --color-green-400: #3bcc7e;
  --color-green-500: #18b164;
  --color-green-600: #0c9352;
  --color-green-700: #097343;
  --color-green-800: #0a5b36;
  --color-green-900: #094b2e;
  --color-green-950: #042a1a;

  --color-pink-25: #ffecfc;
  --color-pink-50: #fbf3ff;
  --color-pink-75: #ffe0fa;
  --color-pink-100: #f7e7ff;
  --color-pink-150: #ffacf2;
  --color-pink-175: #ff0ada;
  --color-pink-200: #efcfff;
  --color-pink-300: #e6a7ff;
  --color-pink-350: #ff7ceb;
  --color-pink-400: #d56bff;
  --color-pink-450: #f35ddd;
  --color-pink-500: #c43ef7;
  --color-pink-550: #d338bb;
  --color-pink-600: #aa1fdb;
  --color-pink-700: #9115b7;
  --color-pink-800: #781396;
  --color-pink-900: #651779;
  --color-pink-950: #410151;

  --color-blue-50: #d2d8ff;
  --color-blue-100: #9dcff0;
  --color-blue-550: #0050e4;
  --color-blue-600: #0059ff;

  --color-violet-25: #f6f3ff;
  --color-violet-50: #bbb4f7;
  --color-violet-100: #ede6ff;
  --color-violet-300: #6d2eff;

  --color-lime-50: #c2ffca;
  --color-lime-100: #a6ff9e;

  --color-orange-50: rgba(255, 135, 71, 0.08);
  --color-orange-500: #ff762c;
}

@plugin "daisyui" {
  themes: light;
}

@plugin "daisyui/theme" {
  name: "light";

  --color-primary: #93bbfb;
  --color-primary-content: var(--color-main-black);
  --color-secondary: #dae8ff;
  --color-secondary-content: var(--color-main-black);
  --color-accent: #93bbfb;
  --color-accent-content: var(--color-main-black);
  --color-neutral: var(--color-main-black);
  --color-neutral-content: var(--color-main-white);
  --color-base-100: var(--color-main-white);
  --color-base-200: #f4f8ff;
  --color-base-300: #dae8ff;
  --color-base-content: var(--color-main-black);
  --color-info: #93bbfb;
  --color-success: var(--color-green-500);
  --color-warning: #ffcf72;
  --color-error: var(--color-red-500);

  --radius-field: 9999rem;
  --radius-box: 1rem;
  --tt-tailw: 6px;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: var(--color-main-pink);
  --color-primary-content: var(--color-grey-950);
  --color-secondary: #89d7e9;
  --color-secondary-content: #088484;
  --color-accent: #026262;
  --color-accent-content: #e9fbff;
  --color-neutral: #088484;
  --color-neutral-content: #f0fcff;
  --color-base-100: #f0fcff;
  --color-base-200: #e1faff;
  --color-base-300: #c8f5ff;
  --color-base-content: var(--color-grey-950);
  --color-info: #026262;
  --color-success: var(--color-green-500);
  --color-warning: #ffcf72;
  --color-error: var(--color-red-500);

  --radius-field: 9999rem;
  --radius-box: 1rem;
  --tt-tailw: 6px;
  --tt-bg: var(--color-primary);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4 {
    /* margin-bottom: 0.5rem; */
    line-height: 1;
  }
}

:root,
[data-theme] {
  background: #ededed;
}

button {
  cursor: pointer;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.link {
  text-underline-offset: 2px;
}

.link:hover {
  opacity: 80%;
}

.content {
  max-height: calc(100vh - 48px - 32px);
  /* scrollbar-gutter: stable; */
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}

.content::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

.content {
  scrollbar-width: thin;
  scrollbar-color: #bbbbbb transparent;
}

.contact-card {
  border-radius: 18px;
  border: 4px solid #ff92ee;
  background: var(--Main-colors-Pink, #ff6ee9);
  width: 232px;
  height: 280px;
}

.contact-card-empty {
  border-radius: 18px;
  border: 4px solid #ccc;
  background: #dedede;
  width: 232px;
  height: 280px;
}

.avatar-leader-board-third {
  fill: linear-gradient(180deg, rgba(255, 110, 233, 0.1) 0%, rgba(255, 110, 233, 0.02) 100%);
  stroke-width: 2.627px;
  stroke: #b595ff;
  backdrop-filter: blur(40.093017578125px);
}

.avatar-leader-board-second {
  fill: linear-gradient(180deg, rgba(255, 110, 233, 0.1) 0%, rgba(255, 110, 233, 0.02) 100%);
  stroke-width: 2.627px;
  stroke: #60cfff;
  backdrop-filter: blur(40.093017578125px);
}

.avatar-leader-board-first {
  fill: linear-gradient(180deg, rgba(255, 110, 233, 0.1) 0%, rgba(255, 110, 233, 0.02) 100%);
  stroke-width: 3px;
  stroke: #ff6ee9;
  backdrop-filter: blur(45.77786636352539px);
}
